{% comment %}
  Renders a header drawer menu for mobile and desktop.

  Usage:
  {% render 'header-drawer' %}
{% endcomment %}

<header-drawer data-breakpoint="{% if section.settings.menu_type_desktop == 'drawer' %}desktop{% else %}tablet{% endif %}">
  <details id="Details-menu-drawer-container" class="menu-drawer-container">
    <summary
      class="header__icon header__icon--menu header__icon--summary link focus-inset"
      aria-label="{{ 'sections.header.menu' | t }}"
    >
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="14" viewBox="0 0 17 14" fill="none">
          <path d="M0 0.871607C0 0.640442 0.0918298 0.418746 0.255288 0.255288C0.418746 0.0918297 0.640443 0 0.871607 0H15.3984C15.6296 4.87143e-09 15.8513 0.0918297 16.0147 0.255288C16.1782 0.418746 16.27 0.640442 16.27 0.871607C16.27 1.10277 16.1782 1.32447 16.0147 1.48793C15.8513 1.65138 15.6296 1.74321 15.3984 1.74321H0.871607C0.640443 1.74321 0.418746 1.65138 0.255288 1.48793C0.0918298 1.32447 0 1.10277 0 0.871607ZM0 6.68232C0 6.45116 0.0918298 6.22946 0.255288 6.066C0.418746 5.90254 0.640443 5.81071 0.871607 5.81071H15.3984C15.6296 5.81071 15.8513 5.90254 16.0147 6.066C16.1782 6.22946 16.27 6.45116 16.27 6.68232C16.27 6.91349 16.1782 7.13518 16.0147 7.29864C15.8513 7.4621 15.6296 7.55393 15.3984 7.55393H0.871607C0.640443 7.55393 0.418746 7.4621 0.255288 7.29864C0.0918298 7.13518 0 6.91349 0 6.68232ZM0.871607 11.6214H15.3984C15.6296 11.6214 15.8513 11.7133 16.0147 11.8767C16.1782 12.0402 16.27 12.2619 16.27 12.493C16.27 12.7242 16.1782 12.9459 16.0147 13.1094C15.8513 13.2728 15.6296 13.3646 15.3984 13.3646H0.871607C0.640443 13.3646 0.418746 13.2728 0.255288 13.1094C0.0918298 12.9459 0 12.7242 0 12.493C0 12.2619 0.0918298 12.0402 0.255288 11.8767C0.418746 11.7133 0.640443 11.6214 0.871607 11.6214Z" fill="#191617"/>
        </svg>
        {% comment %}
            {% render 'icon-hamburger' %}


          {% render 'icon-close' %}
        {% endcomment %}
      </span>
    </summary>
    <div id="menu-drawer" class="gradient menu-drawer motion-reduce color-{{ section.settings.menu_color_scheme }}">
      <div class="menu-drawer__inner-container">
        <div class="drawer-close">{% render 'icon-close' %}</div>
        <div class="logo_wrap">
          <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
            {%- if section.settings['drawer-logo'] != blank -%}
              <div class="header__heading-logo-wrapper">
                {%- assign logo_alt = section.settings['drawer-logo'].alt | default: shop.name | escape -%}
                {% capture sizes %}(max-width: {{ settings.logo_width | times: 2 }}px) 50vw, {{ settings.logo_width }}px{% endcapture %}
                {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
                {{
                  section.settings['drawer-logo']
                  | image_url: width: 600
                  | image_tag:
                    class: 'header__heading-logo motion-reduce',
                    widths: widths,
                    height: logo_height,
                    width: settings.logo_width,
                    alt: logo_alt,
                    sizes: sizes,
                    preload: true
                }}
              </div>
            {%- else -%}
              <span class="h2">{{ shop.name }}</span>
            {%- endif -%}
          </a>

          <!-- language -->
          {% comment %}
            <div class="menu-drawer__utility-links">
              {%- if shop.customer_accounts_enabled -%}
                <a
                  href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
                  class="menu-drawer__account link focus-inset h5 medium-hide large-up-hide"
                >
                  {% render 'icon-account' %}
                  {%- liquid
                    if customer
                      echo 'customer.account_fallback' | t
                    else
                      echo 'customer.log_in' | t
                    endif
                  -%}
                </a>
              {%- endif -%}
              {%- if localization.available_countries or localization.available_languages -%}
                <div class="menu-drawer__localization header-localization">
                  {%- if localization.available_countries and localization.available_countries.size > 1 -%}
                    <noscript>
                      {%- form 'localization', id: 'HeaderCountryMobileFormNoScriptDrawer', class: 'localization-form' -%}
                        <div class="localization-form__select">
                          <h2 class="visually-hidden" id="HeaderCountryMobileLabelNoScriptDrawer">
                            {{ 'localization.country_label' | t }}
                          </h2>
                          <select
                            class="localization-selector link"
                            name="country_code"
                            aria-labelledby="HeaderCountryMobileLabelNoScriptDrawer"
                          >
                            {%- for country in localization.available_countries -%}
                              <option
                                value="{{ country.iso_code }}"
                                {%- if country.iso_code == localization.country.iso_code %}
                                  selected
                                {% endif %}
                              >
                                {{ country.name }} ({{ country.currency.iso_code }}
                                {{ country.currency.symbol }})
                              </option>
                            {%- endfor -%}
                          </select>
                          {% render 'icon-caret' %}
                        </div>
                        <button class="button button--tertiary">{{ 'localization.update_country' | t }}</button>
                      {%- endform -%}
                    </noscript>

                    <localization-form class="no-js-hidden">
                      {%- form 'localization', id: 'HeaderCountryMobileForm', class: 'localization-form' -%}
                        <div>
                          <h2 class="visually-hidden" id="HeaderCountryMobileLabel">
                            {{ 'localization.country_label' | t }}
                          </h2>
                          {%- render 'country-localization', localPosition: 'HeaderCountryMobile' -%}
                        </div>
                      {%- endform -%}
                    </localization-form>
                  {% endif %}

                  {%- if localization.available_languages and localization.available_languages.size > 1 -%}
                    <noscript>
                      {%- form 'localization',
                        id: 'HeaderLanguageMobileFormNoScriptDrawer',
                        class: 'localization-form'
                      -%}
                        <div class="localization-form__select">
                          <h2 class="visually-hidden" id="HeaderLanguageMobileLabelNoScriptDrawer">
                            {{ 'localization.language_label' | t }}
                          </h2>
                          <select
                            class="localization-selector link"
                            name="locale_code"
                            aria-labelledby="HeaderLanguageMobileLabelNoScriptDrawer"
                          >
                            {%- for language in localization.available_languages -%}
                              <option
                                value="{{ language.iso_code }}"
                                lang="{{ language.iso_code }}"
                                {%- if language.iso_code == localization.language.iso_code %}
                                  selected
                                {% endif %}
                              >
                                {{ language.endonym_name | capitalize }}
                              </option>
                            {%- endfor -%}
                          </select>
                          {% render 'icon-caret' %}
                        </div>
                        <button class="button button--tertiary">{{ 'localization.update_language' | t }}</button>
                      {%- endform -%}
                    </noscript>

                    <localization-form class="no-js-hidden">
                      {%- form 'localization', id: 'HeaderLanguageMobileForm', class: 'localization-form' -%}
                        <div>
                          <h2 class="visually-hidden" id="HeaderLanguageMobileLabel">
                            {{ 'localization.language_label' | t }}
                          </h2>
                          {%- render 'language-localization', localPosition: 'HeaderLanguageMobile' -%}
                        </div>
                      {%- endform -%}
                    </localization-form>
                  {%- endif -%}
                </div>
              {%- endif -%}
              <ul class="list list-social list-unstyled" role="list">
                {%- if settings.social_twitter_link != blank -%}
                  <li class="list-social__item">
                    <a href="{{ settings.social_twitter_link }}" class="list-social__link link">
                      {%- render 'icon-twitter' -%}
                      <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
                    </a>
                  </li>
                {%- endif -%}
                {%- if settings.social_facebook_link != blank -%}
                  <li class="list-social__item">
                    <a href="{{ settings.social_facebook_link }}" class="list-social__link link">
                      {%- render 'icon-facebook' -%}
                      <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
                    </a>
                  </li>
                {%- endif -%}
                {%- if settings.social_pinterest_link != blank -%}
                  <li class="list-social__item">
                    <a href="{{ settings.social_pinterest_link }}" class="list-social__link link">
                      {%- render 'icon-pinterest' -%}
                      <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
                    </a>
                  </li>
                {%- endif -%}
                {%- if settings.social_instagram_link != blank -%}
                  <li class="list-social__item">
                    <a href="{{ settings.social_instagram_link }}" class="list-social__link link">
                      {%- render 'icon-instagram' -%}
                      <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
                    </a>
                  </li>
                {%- endif -%}
                {%- if settings.social_tiktok_link != blank -%}
                  <li class="list-social__item">
                    <a href="{{ settings.social_tiktok_link }}" class="list-social__link link">
                      {%- render 'icon-tiktok' -%}
                      <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
                    </a>
                  </li>
                {%- endif -%}
                {%- if settings.social_tumblr_link != blank -%}
                  <li class="list-social__item">
                    <a href="{{ settings.social_tumblr_link }}" class="list-social__link link">
                      {%- render 'icon-tumblr' -%}
                      <span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
                    </a>
                  </li>
                {%- endif -%}
                {%- if settings.social_snapchat_link != blank -%}
                  <li class="list-social__item">
                    <a href="{{ settings.social_snapchat_link }}" class="list-social__link link">
                      {%- render 'icon-snapchat' -%}
                      <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
                    </a>
                  </li>
                {%- endif -%}
                {%- if settings.social_youtube_link != blank -%}
                  <li class="list-social__item">
                    <a href="{{ settings.social_youtube_link }}" class="list-social__link link">
                      {%- render 'icon-youtube' -%}
                      <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
                    </a>
                  </li>
                {%- endif -%}
                {%- if settings.social_vimeo_link != blank -%}
                  <li class="list-social__item">
                    <a href="{{ settings.social_vimeo_link }}" class="list-social__link link">
                      {%- render 'icon-vimeo' -%}
                      <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
                    </a>
                  </li>
                {%- endif -%}
              </ul>
            </div>
          {% endcomment %}
        </div>
        <!-- predective search -->
        {%- if settings.predictive_search_enabled -%}
          <predictive-search class="search-modal__form" data-loading-text="{{ 'accessibility.loading' | t }}">
        {%- else -%}
          <search-form class="search-modal__form">
        {%- endif -%}
        <form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form">
          <div class="field">
            <input
              class="search__input field__input"
              id="{{ input_id }}"
              type="search"
              name="q"
              value="{{ search.terms | escape }}"
              placeholder="{{ 'general.search.search' | t }}"
              {%- if settings.predictive_search_enabled -%}
                role="combobox"
                aria-expanded="false"
                aria-owns="predictive-search-results"
                aria-controls="predictive-search-results"
                aria-haspopup="listbox"
                aria-autocomplete="list"
                autocorrect="off"
                autocomplete="off"
                autocapitalize="off"
                spellcheck="false"
              {%- endif -%}
            >
            <label class="field__label" for="{{ input_id }}">{{ 'general.search.search' | t }}</label>
            <input type="hidden" name="options[prefix]" value="last">
            <button
              type="reset"
              class="reset__button field__button{% if search.terms == blank %} hidden{% endif %}"
              aria-label="{{ 'general.search.reset' | t }}"
            >
              <svg class="icon icon-close" aria-hidden="true" focusable="false">
                <use xlink:href="#icon-reset">
              </svg>
            </button>
            <button class="search__button field__button" aria-label="{{ 'general.search.search' | t }}">
              <svg class="icon icon-search" aria-hidden="true" focusable="false">
                <use href="#icon-search">
              </svg>
            </button>
          </div>

          {%- if settings.predictive_search_enabled -%}
            <div class="predictive-search predictive-search--header" tabindex="-1" data-predictive-search>
              {%- render 'loading-spinner', class: 'predictive-search__loading-state' -%}
            </div>

            <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
          {%- endif -%}
        </form>
        {%- if settings.predictive_search_enabled -%}
          </predictive-search>
        {%- else -%}
          </search-form>
        {%- endif -%}

        <div class="menu-drawer__navigation-container">
          <nav class="menu-drawer__navigation">
            <ul class="menu-drawer__menu has-submenu list-menu" role="list">
              {%- for link in section.settings.menu.links -%}
                <li>
                  {%- if link.links != blank -%}
                    <details id="Details-menu-drawer-menu-item-{{ forloop.index }}">
                      <summary
                        id="HeaderDrawer-{{ link.handle }}"
                        class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.child_active %} menu-drawer__menu-item--active{% endif %}"
                      >
                        {{ link.title | escape }}
                        <span class="drawer-down-svg">
                          <svg width="8" height="5" viewBox="0 0 8 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path id="Vector" d="M4.47351 4.78907L7.8041 1.22354C7.86621 1.15705 7.91547 1.07812 7.94909 0.991249C7.9827 0.904377 8 0.811269 8 0.717239C8 0.527338 7.92953 0.345215 7.8041 0.210935C7.74199 0.144446 7.66826 0.0917043 7.58711 0.0557208C7.50596 0.0197373 7.41899 0.0012169 7.33116 0.0012169C7.15377 0.00121689 6.98365 0.0766547 6.85821 0.210935L4.00057 3.27728L1.14292 0.210935C1.081 0.144096 1.00733 0.0910456 0.926153 0.0548423C0.844981 0.0186389 0.757915 -3.16562e-07 0.66998 -3.20405e-07C0.582044 -3.24249e-07 0.494979 0.0186389 0.413806 0.0548422C0.332633 0.0910456 0.258961 0.144096 0.197037 0.210935C0.134603 0.277227 0.0850463 0.356097 0.051228 0.442996C0.0174103 0.529894 -2.72366e-08 0.623101 -3.13515e-08 0.717239C-3.54664e-08 0.811377 0.0174102 0.904584 0.051228 0.991482C0.0850462 1.07838 0.134602 1.15725 0.197037 1.22354L3.52762 4.78907C3.58955 4.8559 3.66322 4.90895 3.74439 4.94516C3.82557 4.98136 3.91263 5 4.00057 5C4.0885 5 4.17557 4.98136 4.25674 4.94516C4.33791 4.90895 4.41159 4.8559 4.47351 4.78907Z" fill="black"/>
                          </svg>
                        </span>
                        {% comment %}
                          {% render 'icon-arrow' %}
                        {% endcomment %}
                        {% render 'icon-caret' %}
                      </summary>
                      <div
                        id="link-{{ link.handle | escape }}"
                        class="menu-drawer__submenu has-submenu gradient motion-reduce"
                        tabindex="-1"
                      >
                        <div class="menu-drawer__inner-submenu">
                          <button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
                            {% render 'icon-arrow' %}
                            {{ link.title | escape }}
                          </button>
                          <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
                            {%- for childlink in link.links -%}
                              <li>
                                {%- if childlink.links == blank -%}
                                  <a
                                    id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}"
                                    href="{{ childlink.url }}"
                                    class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if childlink.current %} menu-drawer__menu-item--active{% endif %}"
                                    {% if childlink.current %}
                                      aria-current="page"
                                    {% endif %}
                                  >
                                    {{ childlink.title | escape }}
                                  </a>
                                {%- else -%}
                                  <details id="Details-menu-drawer-{{ link.handle }}-{{ childlink.handle }}">
                                    <summary
                                      id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}"
                                      class="menu-drawer__menu-item link link--text list-menu__item focus-inset"
                                    >
                                      {{ childlink.title | escape }}

                                      {% render 'icon-arrow' %}
                                      {% render 'icon-caret' %}
                                    </summary>
                                    <div
                                      id="childlink-{{ childlink.handle | escape }}"
                                      class="menu-drawer__submenu has-submenu gradient motion-reduce"
                                    >
                                      <button
                                        class="menu-drawer__close-button link link--text focus-inset"
                                        aria-expanded="true"
                                      >
                                        {% render 'icon-arrow' %}
                                        {{ childlink.title | escape }}
                                      </button>
                                      <ul
                                        class="menu-drawer__menu list-menu"
                                        role="list"
                                        tabindex="-1"
                                      >
                                        {%- for grandchildlink in childlink.links -%}
                                          <li>
                                            <a
                                              id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                              href="{{ grandchildlink.url }}"
                                              class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if grandchildlink.current %} menu-drawer__menu-item--active{% endif %}"
                                              {% if grandchildlink.current %}
                                                aria-current="page"
                                              {% endif %}
                                            >
                                              {{ grandchildlink.title | escape }}
                                            </a>
                                          </li>
                                        {%- endfor -%}
                                      </ul>
                                    </div>
                                  </details>
                                {%- endif -%}
                              </li>
                            {%- endfor -%}
                          </ul>
                        </div>
                      </div>
                    </details>
                  {%- else -%}
                    <a
                      id="HeaderDrawer-{{ link.handle }}"
                      href="{{ link.url }}"
                      class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.current %} menu-drawer__menu-item--active{% endif %}"
                      {% if link.current %}
                        aria-current="page"
                      {% endif %}
                    >
                      {{ link.title | escape }}
                    </a>
                  {%- endif -%}
                </li>
              {%- endfor -%}
            </ul>
          </nav>
        </div>
      </div>
      <div class="header_drawer_copyright">
        <p>©2024, SAFARI VINTAGE Powered by Shopify</p>
      </div>
    </div>
  </details>
</header-drawer>
